<div class="p-d-flex p-fluid p-jc-center p-mt-6">
  <form [formGroup]="loginGroup">
    <div class="p-field">
      <label for="user_name">User Name</label>
      <input id="user_name" formControlName="user_name" type="text" pInputText />
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" pInputText />
    </div>
    <div class="p-formgroup-inline">
      <div class="p-field-checkbox">
        <p-radioButton
          name="user_type"
          value="candidate"
          inputId="candidate"
          formControlName="user_type"
        ></p-radioButton>
        <label for="candidate">Candidate</label>
      </div>
      <div class="p-field-checkbox">
        <p-radioButton
          name="user_type"
          value="company"
          inputId="company"
          formControlName="user_type"
        ></p-radioButton>
        <label for="company">Company</label>
      </div>
    </div>
    <button pButton (click)="login()" type="button" class="p-mb-5 p-button-raised" icon="pi pi-lock-open" label="Login"></button>
    <button (click)="register()" pButton type="button" class="p-button-raised p-button-outlined" label="Register" icon="pi pi-plus" iconPos="left"></button>

  </form>
</div>
